@using MoviePro.Models.ViewModels;

@model LandingPageVM

@{
    ViewData["Title"] = "MoviePro";
}

<!-- Movie Overview Style-->
<style>
    .clampOverview{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h5.card-title {
        height: 2.5em;
    }

    p.card-title{
        height: 5em;
    }

    .button-height{
        height: 50%;
    }

    .button-offset-right {
        
    }

</style>

<section class="px-4">
    <div class="row mb-1">
        <span class="btn btn-lg w-100 btn-warning fw-bold border-dark col">UPCOMING</span>
    </div>
    <div class="row">
        <div id="carouselUpComing" class="carousel slide row-cols-2" data-bs-ride="carousel">
            <div class="carousel-inner">
            @{
                var classText = "active";       
                for (var slide = 0; slide <= 3; slide++)
                {
                        <div class="col-6 col-md-3 carousel-item @classText">
                        <div class="row">
                            @foreach (var movie in Model.Upcoming.results.Skip(slide * 4).Take(4))
                            {
                                <div class="col-3 mb-2">
                                    <div class="card" style="width: 18rem;">
                                        <img src="@movie.poster_path" class="card-img-top img-fluid" alt="moviePosterImage">
                                        <div class="card-body">
                                            <h5 class="card-title clampTitle">@movie.title</h5>
                                            <p class="card-text clampOverview">@movie.overview</p>
                                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-dark w-100 fw-bold text-decoration-none text-light">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    classText = "";
                }
            }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselUpComing" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselUpComing" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row mb-1">
        <span class="btn btn-lg w-100 btn-warning fw-bold border-dark">NOW PLAYING</span>
    </div>
    <div class="row">
        <div id="carouselNowPlaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top img-fluid" alt="moviePosterImage">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-dark w-100 fw-bold text-decoration-none text-light">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNowPlaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNowPlaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row mb-1">
        <span class="btn btn-lg w-100 btn-warning fw-bold border-dark">POPULAR</span>
    </div>
    <div class="row">
        <div id="carouselPopular" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top img-fluid" alt="moviePosterImage">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-dark w-100 fw-bold text-decoration-none text-light">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopular" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPopular" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="px-4">
    <div class="row mb-1">
        <span class="btn btn-lg w-100 btn-warning fw-bold border-dark">TOP RATED</span>
    </div>
    <div class="row">
        <div id="carouselTopRated" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    classText = "active";
                    for (var slide = 0; slide <= 3; slide++)
                    {
                        <div class="carousel-item @classText">
                            <div class="row">
                                @foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
                                {
                                    <div class="col-3 mb-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="@movie.poster_path" class="card-img-top img-fluid" alt="moviePosterImage">
                                            <div class="card-body">
                                                <h5 class="card-title clampTitle">@movie.title</h5>
                                                <p class="card-text clampOverview">@movie.overview</p>
                                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-dark w-100 fw-bold text-decoration-none text-light">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        classText = "";
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopRated" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTopRated" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>